<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= head %></h2>
    <form method="post" action="/mark/<%= id %>">
    <table>
      <tr><th>SOURCE</th></tr>
      <tr><td>
        <textarea name="source" cols="60" rows="5"><%= source %></textarea>
        </td></tr>
        <tr><td><input type="submit" value="Update"></td></tr>
    </table>
    </form>
    <div class="mark_area"><%- content %>
    <p><%= footer %></p></div>
  </body>
</html>
